@import "_menu.scss";


$colorTexto: #eee;
$colorTextoHover: #fff;
$colorFondo: #666;
$colorFondoHover: #888;

@mixin color ($colorTexto, $colorTextoHover){
    
    transition: linear(

        $colorTexto,
        $colorTextoHover

    );

}

@mixin bg-color ($colorFondo, $colorFondoHover){

    transition: linear(

        $colorFondo,
        $colorFondoHover

    );

}

@mixin box-sizing($property){


}

@mixin transiciones($property,$duration,$timing : linear){
    -moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animaciones ($name, $duration, $timing : linear){



}

footer {
    
    @include color($color, $colorHover);

    @include bg-color($colorFondo, $colorFondoHover);
}