//Variables
$colorTexto: #eee;
$colorTextoHover: #fff;
$colorFondo: #666;
$colorFondoHover: #888;



//Mixin

@mixin pagina ()
{

    body{
        padding: 0px;
        margin: 0px;
    }

}

@mixin color($colorTexto, $colorFondo){
    
    color: $colorTexto;
    background-color: $colorFondo;

}

@mixin colorEfecto ($colorTextoHover, $colorFondoHover){

    color: $colorTextoHover;
    background-color: $colorFondoHover;

}

@mixin size-box($size){

    -webkit-box-sizing: $size;
    -moz-box-sizing: $size;

}

@mixin transiciones($property,$duration,$timing : linear){
    -moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animaciones ($name, $duration, $timing : linear){



}

@mixin titulo()
{

    header{
        padding: 12px 30px;
        font-size: 1.8em;
        font-weight: bold;
        text-shadow: 1px 1px 2px #aaa;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

}

//Includes
body {@include pagina()}


footer {
    
    @include color($colorTexto, $colorFondo);

    @include colorEfecto($colorTextoHover, $colorFondoHover);

    @include size-box(100%);

}


footer {
    
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;

}

header { @include titulo}

//Imports
@import "_menu.scss";