@font-face {
    font-family: "Monoton";
    src: url("../fonts/monoton.woff2");
}

body{

    background-color: black;
    background-image: url(../img/matrix2.png), url(../img/matrix.png);
    background-position: right, left;
    background-repeat: repeat-y;
    background-size: 10%;
    
}

emoji{

    text-align: center;
}

img.izquierda{

    text-align: left;
    background-repeat: repeat;

}

img.derecha{

    text-align: right;

}

div.centro {

    position: center;
    text-align: center;
    background-color: black;
    color: #05c705;
    
    
}

div#pong{
    
    color: white;
    border: solid white;
    text-align: justify;
    margin-top: 0%;
    
}


div#space{
    
    color: white;
    border: solid white;
    text-align: justify;
    margin-top: 0%;
    
}


div#pacman{
    
    color: white;
    border: solid white;
    text-align: justify;
    margin-top: 0%;
    
}
h1{
    color: #05c705;
    font-family: "Monoton";
    text-align: center;
    text-decoration: underline double;
}

h2 {

    background-color: #05c705;
    color: white;
    text-align: left;
    border: solid white;

}

strong{

    color: yellow
}

i{

    color: red;

}

date{

    color: green;

}

cite{

    color: white;
    font-style: normal;
    

}

hr{
    border-color: #05c705;
}