body{

    background-color: #1a67ff;

}


nav{

    display: flex;
    background-color: #3579ff;
    float: left;
    width: 100%;
    
}

div.menu_item{

    font-size: large;
    padding: 1.5%;
    margin-left: 12%;

}

div.texto{

    background-color: #3579ff;
    width: 81%;
    float: left;
    margin-top: 2%;
    padding: 1%;
    height: auto;
    display:flex;
    flex-direction: column;
}

div.contacto{

    text-align: center;
    background-color: #3579ff;
    width: 15%;
    float: left;
    //padding-top: 1.5%;
    margin-top: 2%;
    margin-left: 2%;
}

div.lista{

    padding: 1%;

}

img{

    width: 25%;

}